{
    "logs": [
        {
            "outputFile": "C:\\C346\\Workspace\\FYP_1\\app\\build\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\values-pt-rBR\\values-pt-rBR.xml",
            "m